@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: 'Outfit', serif;
}

.faq-border {
  border: 1px solid;
  border-image-source: linear-gradient(
    103.52deg,
    #3a3ef5 18.99%,
    #32c8f1 82.34%
  );
}
